
html {
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    background-color: #F5EFE7;
    z-index: -1;
  }

body{
    margin: 0px;
}

.home-container{
    height: 100vh;
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 15%;
    gap: 15px;
}

.flex-column p{
    color: #1b4b9b;
    text-align: left;
    width: 80%;
    font-size: 2rem;
    padding-left: 15%;
    margin-top: 5%;
}

.name-box{
    position: relative;
    background-color: #354d73;
    color:#66a1ee;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 15%;
}

.name-box h1 {
    font-size: 3.5rem;
    margin: 0px;
    width: 60%;
}

.name-box h2 {
    margin: 0px;
    font-size: 2rem;
    padding-bottom: 12px;
    padding-left: 6%;
    font-weight: 400;
    width: 60%;
}


#wrapper{
    background-color: #F5EFE7;
    width: 100%;
}


h2{
    font-weight: 600;
    font-size: 2rem;
}

.oscar{
    height: 100vh;
    width: 550px;
}

li{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

footer{
    padding-top: 5%;
}

footer a{
    padding: 2%;
}